
@if (Loaded)
{
<div class="container">
    <div class="LoginBox">
        <div class="LoginImg">
            <img class="img" src="Image/login.jpg" />
        </div>
        <div class="LoginData">
            <TelerikForm Model="@Loginfo" OnSubmit="LoginCheck" Width="100%">
                <FormItems>
                    <div class="id">
                        <FormItem Class="loginput" Field="@nameof(Loginfo.Id)"></FormItem>
                    </div>
                    <div class="pw">
                        <FormItem Class="loginput" Field="@nameof(Loginfo.Pw)">
                            <Template>
                                <label for="Pw" class="">비밀번호</label>
                                <TelerikTextBox Id="Pw" @bind-Value="@Loginfo.Pw" Password="true"></TelerikTextBox>
                                <TelerikValidationMessage For="@(() => Loginfo.Pw)"></TelerikValidationMessage>
                            </Template>
                        </FormItem>
                    </div>
                </FormItems>
                <FormButtons>
                    <div class="Login">
                        <TelerikButton ButtonType="ButtonType.Submit" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">로그인</TelerikButton>
                    </div>
                </FormButtons>
            </TelerikForm>
        </div>
        @*<div class="Loginbtn">
            <span class="Forgot"><a href="">아이디/비밀번호 찾기</a></span>
            <span class="Joinus"><a href="">회원가입</a></span>
        </div>*@
    </div>
</div>
}




@code {
    private bool Loaded = false;

    private Member Loginfo = new Member();
    private List<Member> Members = new List<Member>();

    protected async override Task OnInitializedAsync()
    {
        LoadData();

        var sessionchk = await sessionStorage.GetItemAsync<Member>("loginfo");
        if (sessionchk != null)
        {
            navigationManager.NavigateTo("/main");
        }

        Loaded = true;
    }

    public void LoadData()
    {
        
        
    }

    async void LoginCheck()
    {
        if (Loginfo.Id != null)
        {
            var result = MemberService.MemberByIdSelect(Loginfo.Id);
            if(result.Pw == Loginfo.Pw)
            {
                await sessionStorage.SetItemAsync<Member>("loginfo", result);
                Console.WriteLine("로그인 성공");
                navigationManager.NavigateTo("/main");
            }
            else
            {
                Console.WriteLine("로그인 실패");
            }
        }
    }
}





<style>
    .loginput {
        height: 20px;
    }
</style>